body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(225, 245, 236);
}

.navbar-toggler{
    box-shadow: 0px 2px 10px gray;
}

nav {
    box-shadow: 0px 2px 10px #aaaaaaff;
    background-color:rgb(187, 233, 215);
    margin-top: -5px;
}

.navbar-toggler {
    background-color: white;
}

.nav-link {
    color: #3e3f3fff !important;
}

.nav-link:hover {
    color: gray !important;
}


.container-fluid {
    height: 5000px;
}

.frame{
    position: relative;
}

.objective{
    width: 350px;
    padding: 10px;
    border-radius: 15px;
    background-color: white;
    position: absolute;
    top: 250px;
    left: 50px;
    box-shadow: 0px 2px 10px #888888ff;
}

@media only screen and (max-width: 500px){
    .loaded .homeCover {
        margin-top: 80px;
        background-size: cover;
        width: 100%;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
    .objective {
        visibility: visible !important;
        font-size: 10px;
        position: absolute;
        width: 220px;
        padding: 7px;
        border-radius: 15px;
        background-color: white;
        top: 100px;
        left: 20px;
        box-shadow: 0px 2px 10px #888888ff;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
}

@media only screen and (min-width: 501px) and (max-width: 650px){
    .loaded .homeCover {
        margin-top: 80px;
        background-size: cover;
        width: 100%;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
    .objective {
        visibility: visible !important;
        font-size: 12px;
        position: absolute;
        width: 250px;
        padding: 15px;
        border-radius: 15px;
        background-color: white;
        top: 100px;
        left: 30px;
        box-shadow: 0px 2px 10px #888888ff;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
}

@media only screen and (min-width: 651px){
    .loaded .homeCover {
        margin-top: 80px;
        width: 100%;
        height: 500px;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
    .objective {
        visibility: visible !important;
        font-size: 19px;
        position: absolute;
        width: 400px;
        padding: 10px;
        border-radius: 15px;
        background-color: white;
        top: 250px;
        left: 50px;
        box-shadow: 0px 2px 10px #888888ff;
        transform: translateY(3px);
        transition: all 2s ease-in-out;
    }
}

.aboutContainer {
    background-color: white;
    padding: 40px;
    text-align: center;
    margin: auto;
}

.aboutContainer h3 {
    background-color:rgb(225, 245, 236);
}

.about > div{
    font-style: italic;
    text-indent: 30px;
    width: 1150px;
}

.about > div::first-letter{
    font-weight: bold;
    font-size: 25px;
    color: #1a939eff;
}

video{
    border-radius: 10px;
    box-shadow: 0px 2px 10px #888888ff;
    margin-top: 30px;
}

.AboutHeading{
    color: #1a939eff; 
    width: 100%; 
    color: black;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 10px #888888ff;
    margin-bottom: 20px;
}